<h1><a href=>{{model.artist.name}}</a></h1>
<img src={{model.artist.image_url}} width="300">
<h2>Events</h2>
{{#each model.events as |event|}}
  {{event.datetime}}<br>
  {{event.venue.name}}<br>
  {{event.venue.city}}<br>
  {{event.venue.country}}<br>
  <br><br>
{{/each}}
